//
// Google font - Poppins
//

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

//@font-face {
//  font-family: 'SCDream4';
//  font-style: normal;
//  src: local('SCDream4'), local('SCDream4'),
//  url('~@/assets/fonts/SCDream4.woff2') format('woff2');
//}
//
//@font-face {
//  font-family: 'NEXON Lv1 Gothic OTF';
//  font-style: normal;
//  src: local('NEXON Lv1 Gothic OTF'), local('NEXON Lv1 Gothic OTF'),
//  url('~@/assets/fonts/NEXON Lv1 Gothic OTF.woff') format('woff');
//}

@font-face {
  font-family: 'NEXON Lv2 Gothic';
  font-style: normal;
  src: local('NEXON Lv2 Gothic'), local('NEXON Lv2 Gothic'),
  url('~@/assets/fonts/NEXON Lv2 Gothic.woff') format('woff'),
  url('~@/assets/fonts/NEXON Lv2 Gothic.eot') format('eot');
}
